<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="PushyCash" connectionString="Data Source=192.168.11.104;Initial Catalog=PushyCash;uid=sa;pwd=m_q-6dGyRwcTf+b;Max Pool Size=1000"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>
